<div class="container background__dark">
    <div id="unhiddenInfo" class="row">
        
    </div>
    <div id="hiddenInfo" class="row">

        <div class="col-md d-flex album scale">
            <img class="album__cover" src="~/Media/Albums/The World Is Suffering/Cover.jpg" alt="The World Is Suffering" onclick="showAlbum(this)" />
            <div class="info hidden">
                <p>The World Is Suffering</p>
            </div>
            
        </div>
        
        <div class="col-md d-flex album scale">
            <img class="album__cover" src="~/Media/Albums/Here We Remain/Cover.jpg" alt="Here We Remain" onclick="showAlbum(this)" />
            <div class="info hidden">
                <p>Here We Remain</p>
            </div>
        </div>
        
        <div class="col-md d-flex album scale">
            <img class="album__cover" src="~/Media/Albums/Consumed/Cover.jpg" alt="Consumed" onclick="showAlbum(this)" />
            <div class="info hidden">
                <p>Consumed</p>
            </div>
        </div>
        
        <div class="col-md d-flex album scale">
            <img class="album__cover" src="~/Media/Albums/Yaoguai/Cover.jpg" alt="Yaoguai" onclick="showAlbum(this)" />
            <div class="info hidden">
                <p>Yaoguai</p>
            </div>
        </div>
        
        <div class="col-md d-flex album scale">
            <img class="album__cover" src="~/Media/Albums/Forgotten/Cover.jpg" alt="Forgotten" onclick="showAlbum(this)" />
            <div class="info hidden">
                <p>Forgotten</p>
            </div>
        </div>

    </div>
</div>