@font-face {
    font-family: Main_font;
    src: url('../fonts/Main_font.ttf') format('truetype');
}

html {
    height: 100%;
}

body {
    background-image: url("../img/BG_1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

.wrapper {
    min-height: 100%;
    margin-bottom: 35px;
}

.background__dark {
    background-color: rgba(0, 0, 0, 0.63);
}

.background__darkest {
    background-color: rgba(0, 0, 0, 0.87);
}

.background__light {
    background-color: rgba(159, 194, 232, 0.88);
}

h1, h2, h3, h4 {
    color: #fff;
}




/*----Scrollbar----*/
::-webkit-scrollbar-button {
    margin-top: 20px;
    background-image: url('');
    background-repeat: no-repeat;
}


::-webkit-scrollbar-thumb {
    -webkit-border-radius: 5px;
    border-radius: 3px;
    background-color: #fff;
}

    ::-webkit-scrollbar-thumb:hover {
        background-color: #a40909;
    }

::-webkit-resizer {
    background-image: url('');
    background-repeat: no-repeat;
    width: 4px;
}

::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

/*------------------- Menu -------------------*/

.logo {
    margin-top: 10px;
}

    .logo a img {
        width: 100%;
    }

.menu li ul, .mobile__menu li ul {
    position: absolute;
    min-width: 150px;
    display: none;
}

.menu li > ul li ul {
    position: absolute;
    right: -150px;
    top: 0;
}

.menu li ul {
    padding-top: 0;
    padding-left: 0;
}

    .menu li ul:first-child {
        margin-left: -30px;
    }

.mobile__menu {
    display: block;
}

    .mobile__menu li {
        list-style: none;
        padding-left: 30px;
        margin-top: 30px;
        padding-bottom: 0;
        z-index: 9999;
        text-align: center;
    }



.menu li {
    list-style: none;
    padding-left: 30px;
    margin-top: 30px;
    padding-bottom: 0;
    z-index: 9999;
}

    .menu li a, .links__item a, .mobile__menu li a {
        text-decoration: none;
        text-align: center;
        font-size: 18px;
        text-transform: uppercase;
        color: #c7c7c7;
        font-family: Main_font;
    }

        .menu li a:hover {
            color: #fff;
            background-color: none;
        }

    .menu li:hover > ul, .mobile__menu li:hover > ul {
        display: flex;
        padding-bottom: 10px;
        padding-left: 0;
        padding-top: 0;
    }

/*menu*/
.mobile__menu {
    display: none;
}

.mobile__menu-button {
    display: none;
}
/*left bar*/
.left {
    top: 30%;
    left: 0;
}

    .left ul {
        display: block;
    }


.links__item img {
    width: 30px;
    height: 30px;
    margin-left: 30%;
}

/*--------------- Left Sidebar ---------------*/

.left {
    /*height: 100%;*/
    white-space: nowrap;
    transition: width 0.5s;
    position: fixed;
    z-index: 9999;
}

    .left ul li {
        padding-top: 20px;
        text-align: center;
        list-style: none;
    }

        .left ul li a i {
            justify-content: center;
            font-size: 30px;
        }

        .left ul li:hover > a {
            color: #a40909;
        }


/*---------- Сокрытие\отображение -----------*/
.hidden {
    display: none;
}

.visible {
    display: flex;
}



/*---------------- About Controller ----------------*/

.about {
    position: absolute;
    top: 15%;
}

.owl-dots {
    position: fixed;
    bottom: 0;
    color: #fff;
}

.owl-nav {
    position: fixed;
    bottom: 10px;
    font-size: 80px;
    color: #fff;
}

.owl-item {
    max-height: 40%;
}

.owl-carousel div p {
    color: #fff;
    font-size: 20px;
    position: absolute;
    bottom: 15px;
    padding: 0 5%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.63);
}

.about__image p {
    color: #fff;
    font-size: 20px;
    position: absolute;
    bottom: 15px;
    padding: 0 5%;
    max-width: 90%;
    text-align: center;
}

.about__text p {
    top: 20%;
}

/*---------*/

.musicians {
    position: relative;
    top: 15%;
}

.musician .album:hover {
    cursor: pointer;
}

.musician-photo {
    max-height: 75vh;
}


.scale {
    overflow: hidden; /* Скрываем всё за контуром */
    padding: 0;
}

    .scale img {
        transition: 0.5s; /* Время эффекта */
    }

        .scale img:hover {
            transform: scale(1.1); /* Увеличиваем масштаб */
            cursor: pointer;
        }

.minimize-photo {
    max-height: 25vh;
    position: absolute;
    bottom: 0;
}

.active {
    /*    z-index: 9999;*/
}

.info {
    padding-top: 2%;
    padding-left: 3%;
    color: #fff;
}

    .info ul li {
        font-size: 20px;
    }

.musician__links {
    display: flex;
    list-style: none;
    padding: 0;
}


    .musician__links li {
        padding: 10px;
    }

        .musician__links li a {
            text-decoration: none;
            color: #c7c7c7;
            text-align: center;
        }

            .musician__links li a:hover {
                text-decoration: none;
                color: #a40909;
            }




/*------------- MEDIA --------------*/


.media__part {
    margin-left: 1%;
    margin-right: 1%;
    overflow: hidden;
    max-height: 80vh;
}

    .media__part i {
        font-size: 6rem;
        color: #fff;
    }

    .media__part .title__content {
        justify-content: center;
        position: absolute;
        top: 40%;
        left: 35%;
    }

    .media__part:hover {
        cursor: pointer;
    }

.media__wrapper {
    height: 100%;
}

.media__part-background:hover {
    transform: translate(-1900px, 0);
}

.media__part a:hover > .title__content i {
    color: #a40909;
}

.media__part-background {
    height: 100%;
    transition: 5s;
}

.media__part-title {
    font-family: Main_font;
    text-transform: uppercase;
    font-size: 20px;
    text-align: center;
}
/*----Audio----*/
.unhiddenAudio {
    max-height: 50vh;
    margin-bottom: 10px;
}

    .unhiddenAudio .album {
        padding-left: 20px;
    }

    .unhiddenAudio .album {
        max-height: 45vh;
    }

        .unhiddenAudio .album .album__cover {
            height: 40vh;
            width: 40vh;
        }


.hiddenAudio {
    display: flex;
    margin-left: -15px;
    margin-right: -15px;
}

    .hiddenAudio .album {
        max-width: 30vh;
    }


audio {
    width: 45vh;
    height: 30px;
}

.audio-player {
    display: flex;
    margin: 0 auto;
    height: 70px;
    align-items: center;
}

    .audio-player p {
        margin-right: 30px;
        width: 15vh;
        margin-top: 16px;
        font-size: 18px;
    }

.audio-container {
    height: 32vh;
}

.album {
    overflow: hidden;
    max-height: 30vh;
}

.album__cover {
    margin-bottom: 3%;
    margin-top: 3%;
    width: 100%;
}



/*close button*/

#hiddenInfo div div button {
    display: none;
}

#unhiddenInfo div div button {
    display: flex;
    position: relative;
    top: -40px;
    color: #fff;
    font-weight: 400;
    font-size: 30px;
}


/*----Video----*/

.unhiddenVideo div .info {
    padding-top: 0;
    padding-left: 0;
}

.unhiddenVideo div div {
    padding-bottom: 0;
    margin-bottom: 10px;
}

    .unhiddenVideo div div:hover {
        cursor: pointer;
    }

    .unhiddenVideo div div .video-album_cover {
        display: none;
    }

    .unhiddenVideo div div h3 {
        text-align: center;
        font-size: 40px;
    }

.unhiddenVideo .video-album {
    height: 60vh;
}

    .unhiddenVideo .video-album .info {
        height: 95%
    }

        .unhiddenVideo .video-album .info .video-row {
            height: 90%;
        }

.video-album_cover {
    width: 100%;
}


.hiddenVideo {
    margin-left: -15px;
    margin-right: -15px;
    margin-top: 10px;
}



    .hiddenVideo div div h3 {
        text-align: center;
    }

    .hiddenVideo .video-album:hover {
        cursor: pointer;
    }



.video-album p {
    font-size: 20px;
    color: #fff;
    text-align: center;
}

.video-album img {
    max-width: 30vh;
}

.video-album div h4 {
    text-align: center;
}

.video-album div {
    padding-bottom: 3%;
}


.video-player {
    max-width: 100%;
}

    .video-player:hover {
        cursor: pointer;
    }

.video-container {
    position: center;
}

.video-row {
    max-height: 50vh;
}

/*.video-row div {
        max-height: 31vh;
    }*/
/*--------Photo-----------*/
.hiddenPhoto > div > div > h3 {
    font-size: 20px;
    text-align: center;
}

.hiddenPhoto > div > div > img {
    position: absolute;
    bottom: 0;
    width: 90%;
}

.hiddenPhoto {
    margin-left: -15px;
    margin-right: -15px;
    margin-top: 10px;
}

    .hiddenPhoto .photo-album {
        height: 20vh;
    }

.unhiddenPhoto > div > div > img {
    display: none;
}

.unhiddenPhoto > div > .info {
    padding-top: 0;
}

.unhiddenPhoto > div > div > h3 {
    font-size: 30px;
}

.photo-album_cover {
    width: 100%;
}

.photo-album {
    max-height: 55vh;
}

.photos {
    height: 100%;
}

.mini-photo {
    width: 155px;
}


#grid {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-auto-flow: row;
    grid-gap: 1vw;
    max-height: 90%;
    padding-top: 15px;
    padding-left: 15px;
}

    #grid > div {
    }

h4 {
    text-align: center;
    padding: 10px;
}

.photo-album_cover {
    width: 100%;
}

    .photo-album_cover:hover {
        cursor: pointer;
    }

/*#unhiddenInfo > div > div > p:hover {
    cursor: pointer;
}*/

/*BLOG*/

.blog__container {
    max-height: 75vh;
}

.post__preview a {
    text-decoration: none;
}

.post__preview {
    padding: 2% 2% 2% 2%;
}

.post__preview-img {
    height: 15vh;
    width: 100%;
}

.post__view-img {
    width: 100%;
}


.post__preview-title {
    position: relative;
    bottom: 33px;
}

    .post__preview-title h3 {
        text-align: center;
    }


.img-thumbnail {
    padding: 0;
    border: none;
}

.post__content {
    max-height: 75vh;
}

.post__content-text {
    color: #fff;
}

.other__posts {
    max-height: 70vh;
}

    .other__posts h2 {
        text-align: center;
    }
/*media queries*/
/*@media screen and (min-width: 1351px) {*/

@media screen and (max-width: 1600px), (max-width: 900px) {

    /*photo*/
    .hiddenPhoto > div > div > img {
        width: 80%;
        left: 10%;
    }
}

@media screen and (max-width: 1400px), (max-width: 1050px) {

    /*audio*/
    .unhiddenAudio .album .album__cover {
        height: 30vh;
        width: 30vh;
    }
}

@media screen and (max-width: 1366px), (max-width: 768px) {

    /*audio*/
    .unhiddenAudio .album .album__cover {
        height: 35vh;
        width: 35vh;
    }

    .unhiddenAudio .album .info {
        width: 100%;
    }

    .audio-player p {
        width: 20vh;
    }

    .hiddenAudio .album {
        max-width: 25vh;
    }

    /*video*/
    .unhiddenVideo .video-album {
        height: 55vh;
    }

    /*photo*/
    .hiddenPhoto > div > div > img {
        width: 65%;
        left: 18%;
    }

    /*blog*/
    .post__preview-img {
        height: 17vh;
    }
}

@media screen and (max-width: 1360px), (max-height: 1024px) {

    /*audio*/
    .unhiddenAudio .album .album__cover {
        width: 30vh;
        height: 30vh;
    }
    /*photo*/
    .hiddenPhoto > div > div > img {
        width: 90%;
        left: 5%;
    }
    /*blog*/
    .post__preview-img {
        height: 13vh;
    }
}

@media screen and (max-width: 1360px), (max-height: 768px) {
    /*photo*/
    .hiddenPhoto > div > div > img {
        width: 65%;
        left: 18%;
    }
    /*blog*/
    .post__preview-img {
        height: 17vh;
    }
}

@media screen and (max-width: 1350px) {
    body {
        overflow: auto;
    }
    /*menu*/
    .mobile__menu {
        display: none;
    }

    .mobile__menu-button {
        display: none;
    }
    /*left bar*/
    .left {
        bottom: 0;
        left: 35%;
        top: auto;
    }

        .left ul {
            display: flex;
        }

            .left ul li {
                padding-left: 4%;
                padding-right: 4%;
            }

    .wrapper {
        margin-bottom: 35px;
    }

    /*audio*/
    .unhiddenAudio .album .album__cover {
        height: 30vh;
        width: 30vh;
    }

    .info-audio__content {
        position: relative;
        left: 10%;
    }

        .info-audio__content h2 {
            font-size: 1.5rem;
        }

    /*photo*/
    .photos {
        max-height: 45vh;
    }

    /*video*/
    .video-row {
        height: 33vh;
    }

    /*blog*/
    .blog__container {
        max-height: 65vh;
    }
}

@media screen and (max-width: 1280px), (max-height: 1024px) {
    /*audio*/
    .info-audio__content {
        width: 85%;
    }
    /*photo*/
    .hiddenPhoto > div > div > img {
        width: 90%;
        left: 5%;
    }
    /*blog*/
    .post__preview-img {
        height: 13vh;
    }
}

@media screen and (max-width: 1280px), (max-height: 960px) {
    /*blog*/
    .post__preview-img {
        height: 15vh;
    }
}

@media screen and (max-width: 1280px), (max-height: 800px) {
    .hiddenPhoto > div > div > img {
        /*photo*/
        width: 70%;
        left: 15%;
    }
}

@media screen and (max-width: 1280px), (max-height: 768px) {

    /*video*/
    .hiddenVideo .video-album {
        max-width: 20%;
    }
}

@media screen and (max-width: 1280px), (max-height: 720px) {
    /*video*/
    .unhiddenVideo .video-album {
        height: 53vh;
    }

    /*photo*/
    .hiddenPhoto > div > div > img {
        width: 64%;
        left: 18%;
    }
}

@media screen and (max-width: 1199px) {

    /*audio*/
    .unhiddenAudio .album .info {
        padding-left: 0;
    }

    .audio-player p {
        margin-right: 30px;
        width: 8vh;
    }
}

@media screen and (max-width: 1152px), (max-height: 864px) {

    /*video*/
    .hiddenVideo .video-album {
        max-width: 25%;
    }

    /*photo*/
    .hiddenPhoto > div > div > img {
        width: 90%;
        left: 5%;
    }
}

@media screen and (max-width: 1152px), (max-height: 648px) {
    /*video*/
    .unhiddenVideo .video-album .info {
        height: 90%;
    }

    .video-album img {
        max-width: 27vh;
    }
    /*photo*/

    .hiddenPhoto > div > div > img {
        width: 66%;
        left: 17%;
    }

    /*blog*/
    .post__content {
        max-height: 70vh;
    }

    .other__posts {
        max-height: 63vh;
    }
}

@media screen and (max-width: 1024px) {

    /*audio*/

    .unhiddenAudio .album .album__cover {
        margin-top: 5%;
    }

    .audio-player {
        width: 100%;
    }

        .audio-player p {
            width: 25vh;
        }

    .info-audio__content h2 {
        text-align: center;
    }

    audio {
        width: 40vh;
    }


    /*video*/
    .unhiddenVideo .video-album {
        height: 50vh;
    }
}

@media screen and (max-width: 991px) {

    .logo {
        width: 15vh;
        padding-top: 8px;
    }

    /*menu*/
    .parent__menu {
        width: auto;
    }

    .menu li a {
        font-size: 15px;
    }

    .mobile__menu-button {
        display: none;
    }

    /*photo*/
    .musician-photo {
        max-height: 70vh;
    }

    .minimize-photo {
        max-height: 15vh;
    }

    .hiddenPhoto .photo-album {
        width: 15%;
    }
    /*audio*/
    audio {
        width: 55vh;
    }

    .audio-player {
        display: block;
    }

        .audio-player p {
            width: auto;
        }

    .audio-container {
        width: 70vh;
    }

    .unhiddenAudio .album .album__cover {
        height: 25vh;
        width: 25vh;
    }
}

@media screen and (max-width: 800px), (max-height: 600px) {

    /*video*/
    .hiddenVideo div div h3 {
        font-size: 1rem;
    }

    .video-album p {
        font-size: 15px;
    }

    /*photo*/
    .hiddenPhoto > div > div > h3 {
        font-size: 15px;
    }
}

@media screen and (max-width: 768px) {

    body {
        background-image: url("../img/bg_mobile(752x1078).jpg");
    }

    .left {
        left: 24%;
    }

    .logo {
        width: 20vh;
    }
    /*menu*/

    .parent__menu {
        display: none;
    }

    .mobile__menu {
        display: none;
    }

    .mobile__menu-button {
        display: flex;
    }


    .mobile__menu:hover {
        cursor: pointer;
    }

    .mobile__menu-toggle {
        max-width: 70px;
        max-height: 70px;
    }

    .mobile__menu-button {
        max-height: 70px;
        max-width: 70px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

        .mobile__menu-button img {
            width: 100%;
        }

    /*audio*/
    .unhiddenAudio {
        max-height: 60vh;
    }

        .unhiddenAudio .album {
            max-height: none;
        }

            .unhiddenAudio .album .album__cover {
                height: 20vh;
                width: 20vh;
            }

    .hiddenAudio .album {
        max-width: 15vh;
    }

    .info-audio__content {
        left: 4%;
    }

    .audio-container {
        height: 40vh;
    }

    /*video*/
    .unhiddenVideo div div {
        padding-left: 3%;
    }

    .unhiddenVideo .video-album {
        max-height: 58vh;
    }
}

@media screen and (max-width: 768px) and (max-height: 1366px) {
    .video-album {
        max-height: 58vh;
    }
}

@media screen and (max-height: 800px) {
    .media__part {
        max-height: 75vh;
    }
}

@media screen and (max-height: 600px) {
    .media__part {
        max-height: 70vh;
    }

        .media__part i {
            font-size: 4rem;
        }

    .media__part-title {
        font-size: 16px;
    }
}
