@font-face {
    font-family: Main_font;
    src: url('../fonts/Main_font.ttf') format('truetype');
}

html {
    height: 100%;
}

body {
    background-image: url("../img/BG_1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

.wrapper {
    min-height: 100%;
    margin-bottom: 35px;
}

.background__dark {
    background-color: rgba(0, 0, 0, 0.63);
}

.background__darkest {
    background-color: rgba(0, 0, 0, 0.80)
}

h1, h2, h3, h4 {
    color: #fff;
}




/*----Scrollbar----*/
::-webkit-scrollbar-button {
    margin-top: 20px;
    background-image: url('');
    background-repeat: no-repeat;
}


::-webkit-scrollbar-thumb {
    -webkit-border-radius: 5px;
    border-radius: 3px;
    background-color: #fff;
}

    ::-webkit-scrollbar-thumb:hover {
        background-color: #a40909;
    }

::-webkit-resizer {
    background-image: url('');
    background-repeat: no-repeat;
    width: 4px;
}

::-webkit-scrollbar {
    width: 4px;
}

/*------------------- Menu -------------------*/

.logo {
    margin-top: 10px;
    width: 30vh;
}

    .logo a img {
        width: 25vh;
    }

.menu li ul {
    position: absolute;
    min-width: 150px;
    display: none;
}

.menu li > ul li ul {
    position: absolute;
    right: -150px;
    top: 0;
}

.menu li ul {
    padding-top: 0;
    padding-left: 0;
}

    .menu li ul:first-child {
        margin-left: -30px;
    }

.menu li {
    list-style: none;
    padding-left: 30px;
    margin-top: 30px;
    padding-bottom: 0;
    z-index: 9999;
}

    .menu li a, .links__item a {
        text-decoration: none;
        text-align: center;
        font-size: 18px;
        text-transform: uppercase;
        color: #c7c7c7;
        font-family: Main_font;
    }

        .menu li a:hover {
            color: #fff;
            background-color: none;
        }

    .menu li:hover > ul {
        display: flex;
        padding-bottom: 10px;
        padding-left: 0;
        padding-top: 0;
    }

.links__item img {
    width: 30px;
    height: 30px;
    margin-left: 30%;
}

/*--------------- Left Sidebar ---------------*/

.left {
    /*height: 100%;*/
    white-space: nowrap;
    transition: width 0.5s;
    position: fixed;
    z-index: 9999;
}

    .left ul li {
        padding-top: 20px;
        text-align: center;
        list-style: none;
    }

        .left ul li a i {
            justify-content: center;
            font-size: 30px;
        }

        .left ul li:hover > a {
            color: #a40909;
        }


/*---------- Сокрытие\отображение -----------*/
.hidden {
    display: none;
}

.visible {
    display: flex;
}



/*---------------- About Controller ----------------*/

.about {
    position: absolute;
    top: 15%;
}

.owl-dots {
    position: fixed;
    bottom: 0;
    color: #fff;
}

.owl-nav {
    position: fixed;
    bottom: 10px;
    font-size: 80px;
    color: #fff;
}

.owl-item {
    max-height: 40%;
}

.owl-carousel div p {
    color: #fff;
    font-size: 20px;
    position: absolute;
    bottom: 15px;
    padding: 0 5%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.63);
}

.about__image p {
    color: #fff;
    font-size: 20px;
    position: absolute;
    bottom: 15px;
    padding: 0 5%;
    max-width: 90%;
    text-align: center;
}

.about__text p {
    top: 20%;
}

/*---------*/

.musicians {
    position: relative;
    top: 15%;
}

.musician .album:hover {
    cursor: pointer;
}

.musician-photo {
    max-height: 75vh;
}


.scale {
    /*display: inline-block;*/ /* Строчно-блочный элемент */
    overflow: hidden; /* Скрываем всё за контуром */
    padding: 0;
}

    .scale img {
        transition: 0.5s; /* Время эффекта */
        /*display: block;*/ /* Убираем небольшой отступ снизу */
    }

        .scale img:hover {
            transform: scale(1.1); /* Увеличиваем масштаб */
            cursor: pointer;
        }

.minimize-photo {
    max-height: 25vh;
    position: absolute;
    bottom: 0;
}

.active {
    z-index: 9999;
}

.info {
    padding-top: 3%;
    padding-left: 3%;
    color: #fff;
}

    .info ul li {
        font-size: 18px;
    }

.musician__links {
    display: flex;
    list-style: none;
    padding: 0;
}


    .musician__links li {
        padding: 10px;
    }

        .musician__links li a {
            text-decoration: none;
            color: #c7c7c7;
            text-align: center;
        }

            .musician__links li a:hover {
                text-decoration: none;
                color: #fff;
            }




/*------------- MEDIA --------------*/
/*----Audio----*/
audio {
    width: 45vh;
    height: 30px;
}

.audio-player {
    display: flex;
    margin: 0 auto;
    height: 70px;
    align-items: center;
}

    .audio-player p {
        margin-right: 30px;
        width: 70px;
        margin-top: 16px;
    }

.audio-container {
    height: 32vh;
}

.album {
    overflow: hidden;
}

.album__cover {
    margin-bottom: 3%;
    margin-top: 3%;
}

#unhiddenInfo {
    /*max-height: 50vh;*/
    margin-bottom: 20px;
}

    #unhiddenInfo > div {
        padding-left: 20px;
    }

    /*#unhiddenInfo div .album__cover {
        max-height: 40vh;
        max-width: 40vh;
    }*/

    #unhiddenInfo div div h2 {
        padding-bottom: 3%;
        text-align: center;
    }



#hiddenInfo div img:hover {
    cursor: pointer;
}




/*----Video----*/
.video-album .photo-album {
    height: 40vh;
}



.video-album p {
    font-size: 20px;
    color: #fff;
    text-align: center;
}

.video-album img {
    max-width: 30vh;
}

.video-album div h4 {
    text-align: center;
}

.video-album div {
    padding-bottom: 3%;
}


.video-player {
    max-width: 100%;
}

    .video-player:hover {
        cursor: pointer;
    }

.video-container {
    position: center;
}

.video-row {
    max-height: 41vh;
}

/*--------Photo-----------*/
#unhiddenInfo > .row {
    margin-right: 0;
}

/*#unhiddenInfo > div > div {
    height: 50vh;
}*/

#unhiddenInfo > div > div > img {
    display: none;
}

#unhiddenInfo > div > div {
}

    #unhiddenInfo > div > div > p {
        transform: rotate(270deg);
        position: absolute;
        bottom: 55%;
    }

    #hiddenInfo > div > div > p, #unhiddenInfo > div > div > p {
        font-size: 20px;
        color: #fff;
        text-align: center;
    }

#hiddenInfo > div {
    padding-left: 15px;
    padding-bottom: 15px;
}

#hiddenInfo {
    display: flex;
}

.mini-photo {
    width: 155px;
}


#grid {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-auto-flow: row;
    grid-gap: 1vw;
    max-height: 90%;
    padding-top: 15px;
    padding-left: 15px;
}

    #grid > div {
    }

h4 {
    text-align: center;
    padding: 10px;
}

.photo-album_cover {
    width: 30vh;
}

    .photo-album_cover:hover {
        cursor: pointer;
    }

#unhiddenInfo > div > div > p:hover {
    cursor: pointer;
}

/*BLOG*/

.blog__container {
    max-height: 75vh;
}

.post__preview a {
    text-decoration: none;
}

.post__preview {
    padding: 2% 2% 2% 2%;
}

.post__preview-img {
    height: 15vh;
    width: 100%;
}


.post__preview-title {
    position: relative;
    bottom: 35px;
    margin-left: 2px;
    margin-right: 2px;
}

    .post__preview-title h3 {
        text-align: center;
    }









/*media queries*/
@media screen and (min-width: 1351px) {
    .mobile__menu {
        display: none;
    }

    .left {
        top: 30%;
        left: 0;
    }

        .left ul {
            display: block;
        }

    #unhiddenInfo div .album__cover {
        max-height: 40vh;
    }

    #hiddenInfo div img {
        width: 100%;
    }
    /*.photo-album{
        max-width: 25vh;
    }*/
    .photos {
        max-height: 60vh;
    }

    /*.blog__container {
        max-height: 65vh;
    }*/
}

@media screen and (max-width: 1350px) {
    body {
        overflow: auto;
    }

    .mobile__menu {
        display: none;
    }

    .left {
        bottom: 0;
        left: 35%;
    }

        .left ul {
            display: flex;
        }

            .left ul li {
                padding-left: 4%;
                padding-right: 4%;
            }

    .wrapper {
        margin-bottom: 35px;
    }

    #unhiddenInfo div .album__cover {
        max-height: 30vh;
    }

    #hiddenInfo div .album__cover {
        width: 70%;
    }

    .info-audio__content {
        position: relative;
        left: 10%;
    }

        .info-audio__content h2 {
            font-size: 1.5rem;
        }
    /*.photo-album {
        width: 40vh;
    }*/
    .photos {
        max-height: 45vh;
    }

    .photo-album_cover {
        width: 30vh;
    }

    .video-row {
        height: 33vh;
    }

    .blog__container {
        max-height: 65vh;
    }
}

@media screen and (max-width: 768px) {

    body {
        background-image: url("../img/bg_mobile(752x1078).jpg");
    }

    .left {
        left: 30%;
    }

    /*menu*/

    .parent__menu {
        display: none;
    }

    .burger__menu {
        display: flex;
    }

    .logo {
    }


    .mobile__menu {
        display: flex;
    }

        .mobile__menu:hover {
            cursor: pointer;
        }

    .mobile__menu-toggle {
        max-width: 70px;
        max-height: 70px;
    }

    .mobile__menu-button {
        max-height: 70px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    
}
