@model IEnumerable<ForAfterwind.Models.City>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
}


@foreach (var city in Model)
{
    <div>
        @city.Name
        <a asp-controller="Admin"
           asp-action="DeleteCity"
           asp-route-id="@city.Id"
           data-ajax="true"
           data-ajax-update="#ajaxcities"
           data-ajax-complete="removeCitiesFormEvents()">Delete</a>
    </div>
}