@model List<ForAfterwind.Domain.Skill>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers


<div class="form-group">
    <label class="control-label">Skills</label>
    <ul>
        @foreach (var el in Model)
        {
            <li>

                @el.Name
                <a asp-controller="Admin"
                   asp-action="DeleteSkill" 
                   asp-route-id="@el.Id"  
                   method="post"
                   data-ajax="true" 
                   data-ajax-update="#ajaxskills"
                   data-ajax-complete="removeSkillsFormEvents()">Delete</a>
                
            </li>
        }
    </ul>
</div>

