@model ForAfterwind.Models.VideoAlbum
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "EditVideoAlbum";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Edit video album</h1>

<h4>@Model.Name</h4>
<hr />
<div class="row">
    
    <div class="col-md-4">
        <form asp-action="EditVideoAlbum"
              method="post"
              enctype="multipart/form-data">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />

            @if (Model != null)
            {
                <div class="video-album__cover">
                    <img src="@Url.Content(Model.PathToCover)" alt="" id="output" />
                </div>
            }
            <hr />
            <label class="control-label">Выберите обложку</label>
            <input type="file" name="uploadedFile" accept="image/*" /><br>
            <hr />

            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <hr />

            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control"></textarea>


            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <div class="col-md">
        <form asp-action="_partialVideos"
              asp-route-id="@Model.Id"
              method="get" data-ajax="true"
              data-ajax-update="#ajaxvideos"
              id="videos">
            <div id="ajaxvideos">

            </div>
        </form>

        <form asp-action="AddVideo"
              data-ajax="true" method="post"
              data-ajax-update="#ajaxvideos"
              id="addvideo"
              data-ajax-mode="replace"
              data-ajax-complete="removeVideosFormEvents()"
              enctype="multipart/form-data">

            <input type="hidden" asp-for="@Model.Id" />
            <h4>Add video</h4>
            <div class="form-group">
                <label class="control-label">Выберите файл</label>
                <input type="file" name="uploadedFile" accept="video/*"/>

            </div>
            

            <div class="form-group">
                <input type="submit" value="Add" class="btn btn-primary" style="margin-top: 15px" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

