@model IEnumerable<ForAfterwind.Models.Greeting>

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = "_AdminLayout";

}

<h1>Greetings</h1>

@if (Model.Count() != 0)
{
    <table class="table">
        <thead>
            <tr>
                <th>IsActive</th>
                <th>Name</th>


            </tr>
        </thead>
        <tbody>
            @foreach (var el in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => el.IsActive)</td>
                    <td>@Html.DisplayFor(modelItem => el.Name)</td>

                    <td></td>
                    <td>
                        <a asp-controller="Admin"
                           asp-action="EditGreeting"
                           asp-route-id="@el.Id">
                            Edit
                        </a>
                    </td>
                    <td>
                        <a asp-controller="Admin"
                           asp-action="DeleteGreeting"
                           asp-route-id="@el.Id">
                            Delete
                        </a>
                    </td>
                </tr>


            }
        </tbody>

    </table>
}
else
{
    <p>
        No created entity "Greeting"
    </p>
}
<div>
    <a asp-controller="Admin"
       asp-action="CreateGreeting">
        Create Greeting
    </a>
</div>
