@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = "_AdminLayout";

}

<h1>Настройка домашней страницы</h1>

<a asp-controller="Admin" asp-action="Greetings">Блок приветствия</a>
<a asp-controller="Admin" asp-action="ProgressBars">Progress-bars</a>


