@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_AdminLayout";
}
@model IEnumerable<ForAfterwind.Domain.Musician>

<div class="container">

    <h1> Edit musicians </h1>

    <table>
        @foreach (var el in Model)
        {
            <tr>

                <td>@el.Name</td>
                <td>
                    
                    <a asp-action="EditMusician" asp-controller="Admin" asp-route-id="@el.Id"> Edit </a> |
                    <a asp-action="DeleteMusician" asp-controller="Admin" method="post" asp-route-id="@el.Id"> Delete </a>
                </td>

            </tr>

        }
    </table>
    <a asp-action="CreateMusician" asp-controller="Admin"> Add </a>
</div>
