
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Photo";
    Layout = "_AdminLayout";
}


    <a asp-controller="Admin"
       asp-action="PhotoAlbums">Photo albums</a>

    <a asp-controller="Admin"
       asp-action="PhotoMap">Photo map</a>

