@model IEnumerable<ForAfterwind.Models.VideoAlbum>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_AdminLayout";
}

<h1>Edit video albums</h1>
<hr />
<div class="row">
    @foreach (var el in Model)
    {
        <div class="col-md-3">
            <h3>@el.Name</h3>
            <a asp-action="EditVideoAlbum"
               asp-controller="Admin"
               asp-route-id="@el.Id">
                <div class="video-album__cover">
                    <img src="@Url.Content(el.PathToCover)" />
                </div>
            </a>

            <a asp-action="DeleteVideoAlbum"
               asp-controller="Admin"
               method="post"
               asp-route-id="@el.Id"> Delete </a>
        </div>
    }

</div>
<hr />
<div>
    <a asp-action="CreateVideoAlbum"
       asp-controller="Admin"
       class="btn btn-primary">
        New video album
    </a>
</div>