<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Admin</title>
    <link rel="stylesheet" href="~/libs/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/Admin.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/libs/jueryUI/jquery-ui.min.css"/>
    <link rel="stylesheet" href="~/libs/jueryUI/jquery-ui.theme.min.css"/>


</head>
<body>

    <div class="container-fluid">
        <div class="row background__dark">

            <div class="col-md-11">
                <a asp-controller="Admin" asp-action="Index"><h2>Admin panel</h2></a>

            </div>

            <div class="col logout__link">
                @if (User.Identity.IsAuthenticated)
                {
    <a asp-controller="Auth" asp-action="Logout">Logout</a>}
            </div>

        </div>
        <div class="row">
            <div class="col-md-2 background__dark left__panel">
                <ul>
                    <li>
                        <a asp-controller="Admin" asp-action="Home">
                            <div class="left__panel-link">
                                Home-page
                            </div>
                        </a>

                    </li>
                    <li>
                        <a asp-controller="Admin" asp-action="Musician">
                            <div class="left__panel-link">
                                Musicians
                            </div>
                        </a>

                    </li>
                    <li>
                        <a asp-controller="Admin" asp-action="Audio">
                            <div class="left__panel-link">
                                Releases
                            </div>
                        </a>

                    </li>
                    <li>
                        <a asp-controller="Admin" asp-action="Video">
                            <div class="left__panel-link">
                                Video
                            </div>
                        </a>

                    </li>
                    <li>
                        <a asp-controller="Admin" asp-action="Photo">
                            <div class="left__panel-link">
                                Photo
                            </div>
                        </a>

                    </li>
                    <li>
                        <a asp-controller="Admin" asp-action="Blog">
                            <div class="left__panel-link">
                                Blog
                            </div>
                        </a>

                    </li>
                </ul>
            </div>
            <div class="col-md">
                @RenderBody()
            </div>
        </div>
    </div>



    <script src="~/libs/jquery/jquery-3.4.1.min.js"></script>
    <script src="~/libs/jquery/jquery.unobtrusive-ajax.min.js"></script>
    @RenderSection("ValidationScripts", required:false)
    <script src="~/libs/jueryUI/jquery-ui.min.js"></script>

    <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/jquery.tinymce.min.js" referrerpolicy="origin"></script>
    <script src="~/js/Admin.js"></script>
</body>
</html>
