
<div class="container about">
    
    <div class="owl-carousel">

        <div>
            <img src="~/img/About_1.jpg" alt="" />
            <p>
                Что такое [Afterwind]?
                В первую очередь, мы всегда были группой единомышленников,
                объединённых общей идеей делать музыку лучше, чем делали вчера.
                Но это не главное.
            </p>
        </div>
        <div>
            <img src="~/img/About_2.jpg" />
            <p>
                [Afterwind] - это также мясо на сцене,
                которое все так любили раньше и которого так не хватает сегодня.
                Это пылающие задницы фэнов олдскульного метала,
                отписки и хмурые взгляды, когда мы снова и снова делаем то,
                от чего прёт нас, а не "мы играем в стиле [название группы]".
                Мы сами себе стиль.
            </p>
        </div>

        <div>
            <img src="" />
            <p>
                [Afterwind] - это тексты за апокалиптические темы и внутренние терзания лирического героя,
                лицо которого содержит черты каждого из нас, участников этой сложной,
                но эффектной структуры. Но всё перечисленное не отражает сути самой идеи.
            </p>
        </div>

        <div>
            <img src="~/img/About_4.jpg" />
            <p>
                А идея [Afterwind] - в самом существовании, в постоянном видоизменении давно знакомых форм.
                Главная идея находится внутри головы у каждого из наших братьев и сестёр,
                делящих с нами наш язык.
            </p>
        </div>

        <div>
            <img src="~/img/About_5.jpg" />
            <p>
                Поэтому [Afterwind] - это 7 потов и нервные срывы во время ночных сессий в студии.
            </p>
        </div>

        <div>
            <img src="~/img/About_6.jpg" />
            <p>
                Это разнузданный трэш на вписках после концертов
                с тоннами алкоголя и ох*ительными историями.
            </p>
        </div>

        <div>
            <img src="~/img/About_7.jpg" />
            <p>
                Это десятки демок из которых мы выбираем лучшее,
                чтобы поделиться с нашей тусовкой и ни о чем не пожалеть.
            </p>
        </div>

        <div>
            <img src="~/img/About_8.jpg" />
            <p>
                Это бессонные ночи в поисках того самого саунда, который нам нужен.
            </p>
        </div>

        <div>
            <img src="~/img/About_9.jpg" />
            <p>
                Это друзья и соратники в каждом уголке страны и встречи,
                ради которых преодолеешь тысячи километров.
            </p>
        </div>

        <div>
            <img src="~/img/About_10.jpg" />
            <p>
                Вот, коротко, что такое [Afterwind].
                Рождённые из идеи, остаёмся всегда.
            </p>
        </div>



    </div>

</div>



