@model IEnumerable<ForAfterwind.Models.Musician>

<div class="container musicians background__dark">

    <div class="row">

        @foreach (var el in Model)
        {
            
            <div class="col-md scale d-flex musician">
                <img class="musician-photo" src="@Url.Content(el.Photo)" onclick="showInfo(this)" />
                <div class="info hidden">
                    <h2>@el.Name</h2>
                    <h3>Skills:</h3>

                    <ul>
                        @foreach (var item in el.Skills)
                        {
                            <li>@item.Name</li>
                            
                        }
                    </ul>

                    <h3>Social links:</h3>
                    <ul class="musician__links">
                        @foreach (var item in el.SocialLinks)
                        {
                            <li>
                                <a href="@Url.Content(item.Path)" target="_blank">
                                    <i class="fa fa-@Url.Content(item.Name)"></i>
                                </a>

                            </li>
                        }
                    </ul>

                </div>
            </div>

        }

    </div>

</div>




























@*<div class="container musicians background__dark">
        <div class="row">
            <div class="col-md scale d-flex musician">
                <img class="musician-photo" src="~/img/Johnny_About.jpg" onclick="showInfo(this)" />
                <div class="info hidden">
                    <h2>Клоков Евгений</h2>
                    <h3>Skills:</h3>
                    <ul>
                        <li>Guitar</li>
                        <li>Texts</li>
                        <li>Management</li>
                        <li>Arrangement</li>
                    </ul>
                    <h3>Social links:</h3>
                    <ul class="musician__links">
                        <li>
                            <a href="https://vk.com/aw_guitar" target="_blank">
                                <i class="fa fa-vk"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/afterwindband/" target="_blank">

                                <i class="fa fa-instagram"></i>
                            </a>
                        </li>

                        <li>
                            <a href="https://twitter.com/eygen92" target="_blank">

                                <i class="fa fa-twitter"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>



            <div class="col-md scale d-flex musician">
                <img class="musician-photo" src="~/img/Gregory_About.jpg" onclick="showInfo(this)" />
                <div class="info hidden">
                    <h2>Котловский Григорий</h2>
                    <h3>Skills:</h3>

                    <ul>
                        <li>Vocal</li>
                        <li>Texts</li>
                        <li>Management</li>
                        <li>Arrangement</li>
                    </ul>
                    <h3>Social links:</h3>
                    <ul class="musician__links">
                        <li>
                            <a href="https://vk.com/franky.greg" target="_blank">

                                <i class="fa fa-vk"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/afterwindvox/" target="_blank">

                                <i class="fa fa-instagram"></i>
                            </a>
                        </li>

                    </ul>
                </div>
            </div>



            <div class="col-md scale d-flex musician">
                <img class="musician-photo" src="~/img/Drews_About.jpg" onclick="showInfo(this)" />
                <div class="info hidden">
                    <h2>Воронин Андрей</h2>
                    <h3>Skills:</h3>
                    <ul>
                        <li>Guitar</li>
                        <li>Management</li>
                        <li>Arrangement</li>
                        <li>Sound produсing</li>
                        <li>Sound engineering</li>
                    </ul>
                    <h3>Social links:</h3>
                    <ul class="musician__links">
                        <li>
                            <a href="https://vk.com/id10255841" target="_blank">
                                <i class="fa fa-vk"></i>
                            </a>
                        </li>

                    </ul>
                </div>
            </div>



            <div class="col-md scale d-flex musician">
                <img class="musician-photo" src="~/img/Dmitry_About.jpg" onclick="showInfo(this)" />
                <div class="info hidden">
                    <h2>Тишков Дмитрий</h2>
                    <h3>Skills:</h3>
                    <ul>
                        <li>Bass Guitar</li>
                        <li>Management</li>
                    </ul>
                    <h3>Social links:</h3>
                    <ul class="musician__links">
                        <li>
                            <a href="https://vk.com/afterwind_bass" target="_blank">
                                <i class="fa fa-vk"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/afterwind_bass/" target="_blank">

                                <i class="fa fa-instagram"></i>
                            </a>
                        </li>

                    </ul>
                </div>
            </div>


        </div>
    </div>*@
